
/* All styles moved to index.css to maintain consistent theming */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #0F1524;
}

body, html {
  background-color: #0F1524;
}
